<div class="container p-5">
    <table class="table table-responsive">
        <thead class="table-light">
            <tr>
                <th>Bus Name</th>
                <th>Dept. Time</th>
                <th>Bus Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let b of buses">
                <tr class="text-muted">
                    <td>{{b.busName}}</td>
                    <td>{{b.dailyStartTime}}</td>
                    <td>{{b.busType}}</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm w-100" [routerLink]="['/boardingSequence/bus', b.busId]" routerLinkActive="router-link-active" >Generate Boarding Sequence</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
